div.mainView {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

div.marker {
  position: absolute;
  zIndex: 2;
  transform: translate(-50%, -50%);
}

div.marker svg {
  width: 53px;
  height: 53px;
}

