:root {
  --background-color: #EBEBEB;  
}

div.mainView {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

div.marker {
  position: fixed;
  z-index: 2;
  transform: translate(-50%, -50%);
}

div.marker svg {
  width: 53px;
  height: 53px;
}

.centered {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tableOfContents {
  width: 15%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  background-color: var(--background-color);  
}

.tableOfContents > div {
  position: relative;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow-x: clip;
}

.tableOfContents > div > ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 10px;
}

.tableOfContents > div > ul ul {
  list-style-type: none;
  padding-left: 15px;
}

.tableOfContents > div > ul li {
  white-space: nowrap;
}

.tableOfContentsButton {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.tableOfContentsButton svg {
  width: 100%;
  height: 100%;
}

.informationDrawer {
  position: fixed;
  left: 20%;
  top: 80%;
  width: 60%;
  height: 20%;
  background-color: var(--background-color);
}

.informationDrawer .toolbar {
  display: flex;
  height: 25px;
  width: 100%;
  cursor: pointer;
}

.informationDrawer .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.informationDrawer .icon {
  float: right;
  width: 25px;
  height: 25px;
}

.informationDrawer .icon svg {
  width: 100%;
  height: 100%;
}

.informationDrawer .content {
  text-align: justify;
  overflow-y: scroll;
  overflow-x: clip;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
}