div.mainView {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

div.marker {
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
}

div.marker svg {
  width: 53px;
  height: 53px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tableOfContents {
  width: 15%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  background-color: #EBEBEB;  
}

.tableOfContents div {
  position: relative;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow-x: clip;
}

.tableOfContentsButton {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
}

.tableOfContentsButton svg {
  width: 100%;
  height: 100%;
}